<footer class="footer has-background-grey-darker has-text-white">
    <div class="content has-text-centered">
        <p>
            <span class="icon is-large"><a href="https://twitter.com/markushintner" class="mysocial" rel="me"><i class="fab fa-twitter fa-3x"></i></a></span>&nbsp;&nbsp;
            <span class="icon is-large"><a href="https://www.xing.com/profile/Markus_Hintner" class="mysocial" rel="me"><i class="fab fa-xing fa-3x"></i></a></span>&nbsp;&nbsp;
            <span class="icon is-large"><a href="https://at.linkedin.com/in/markushintner" class="mysocial" rel="me"><i class="fab fa-linkedin fa-3x"></i></a></span>&nbsp;&nbsp;
            <br><br>
            Copyright &copy; Markus Hintner {{ now.Format "2006"}} - Powered by Azure Static Web App
            - <a class="mysocial" href="{{ "https://www.entos.at" | absURL }}">About</a>
        </p>
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</body>
</html>
