<div class="card">
    <div class="card-content">
        <h1 class="title is-5">About me</h1>
        <h2 class="title is-6">Markus Hintner</h2>
        <div class="tags">
            <img src={{ "img/MarkusHintner5.jpg" | absURL }} alt="Markus Hintner">  
            <br><br>  
            My thoughts and findings about Azure, Microsoft 365, SharePoint and SQL Server.  
            <br><br>
            <img src={{ "img/MCSM_Badge.jpg" | absURL }} alt="MCSM - Microsoft Certified Solutions Master">  
            <br>
            <img src={{ "img/entos_logo.png" | absURL }} alt="ENTOS" style="padding-top:25px">  
            <br><br>
            
        </div>          
    </div>
</div>